# python related
*.egg-info/
*.pyc
.DS_Store
__pycache__/
scripts/plot/pdfs/
videos/
run_3seed.sh
visualizations/
MinkowskiEngine/
video_dataset/
expert_ckpt/
demonstrations/
vrl3data/
trajectory_images/
dexdeform_flip_traj.pkl
dexdeform_folding_traj.pkl
trajectory_video.gif
trajectory_video.mp4
*.npy
isaacgym/
*.html
nohup.out
data/
_C.cpython-38-x86_64-linux-gnu.so
_C.cpython-39-x86_64-linux-gnu.so
*_temp.xml
real_robot_data/
output.gif
output.mp4
output.png

test.gif
test.mp4
test_depth.mp4
test.png

debug.png
debug.mp4
debug.gif

dexdeform_demonstrations.zip
personal_TASK.md
easytrain.sh
nohup.out
output/


# 6.24 Update
openpoints/
Robotwin/
src/
3D-Diffusion-Policy/Uni3D_large/model.pt
third_party/VRL3/vrl3_ckpts.zip
third_party/dexart-release/dexart_assets.zip

# 7.11 Update
aloha_maniskill_sim/
third_party/aloha_maniskill_sim/
models/
3D-Diffusion-Policy/models/
3D-Diffusion-Policy/Uni3D_tiny/model.pt
aloha_urdf.zip
main_models.zip
RoboTwin1.0_3d_policy/

# 7.19 Update
.cache/

# 7.30 Update
/assets/
debug_actions/
# RoboTwin2.0_3D_policy/assets/
RoboTwin2.0_3D_policy/eval_video/
RoboTwin2.0_3D_policy/done_eval_video/
RoboTwin2.0_3D_policy/old_eval_video/

# 8.1 Update
Dockerfile
dp3_training_environment.yml
# !/RoboTwin2.0_3D_policy/assets/_download.py
# !/RoboTwin2.0_3D_policy/assets/files/

# 10.7 Update
clip_model/open_clip_pytorch_model.bin
3D-Diffusion-Policy/Uni3D_small/model.pt
RoboTwin2.0_3D_policy/evaluation_results/
RoboTwin2.0_3D_policy/old_seeds_list/
RoboTwin2.0_3D_policy/old_seeds_list_left/
RoboTwin2.0_3D_policy/seeds_list/
RoboTwin2.0_3D_policy/wandb_logs/
scripts/batch_robotwin2_eval.sh
scripts/batch_robotwin2_eval_1.sh
scripts/batch_robotwin2_eval_2.sh
scripts/batch_robotwin2_eval_3.sh
scripts/batch_robotwin2_eval_4.sh
3D-Diffusion-Policy/diffusion_policy_3d/model/vision/pointnet_extractor_original.py
RoboTwin_3dpolicy_new/
.vscode/
RoboTwin1.0_3d_policy/

# 10.11 update
evaluation_benchmark_env.yml
policy_training_env.yml
3D-Diffusion-Policy/diffusion_policy_3d/env/robotwin2/assets/
3D-Diffusion-Policy/diffusion_policy_3d/env/robotwin2/eval_video/
3D-Diffusion-Policy/diffusion_policy_3d/env/robotwin2/envs/curobo/