# python related
*.egg-info/
*.pyc
.DS_Store
__pycache__/
scripts/plot/pdfs/
videos/
run_3seed.sh
visualizations/
MinkowskiEngine/
video_dataset/
expert_ckpt/
demonstrations/
vrl3data/
trajectory_images/
dexdeform_flip_traj.pkl
dexdeform_folding_traj.pkl
trajectory_video.gif
trajectory_video.mp4
*.npy
isaacgym/
*.html
nohup.out
data/
_C.cpython-38-x86_64-linux-gnu.so
_C.cpython-39-x86_64-linux-gnu.so
*_temp.xml
real_robot_data/
output.gif
output.mp4
output.png

test.gif
test.mp4
test_depth.mp4
test.png

debug.png
debug.mp4
debug.gif

dexdeform_demonstrations.zip
personal_TASK.md
easytrain.sh
nohup.out
output/


# 6.24 Update
openpoints/
Robotwin/
src/
3D-Diffusion-Policy/Uni3D_large/model.pt
third_party/VRL3/vrl3_ckpts.zip
third_party/dexart-release/dexart_assets.zip

# 7.11 Update
aloha_maniskill_sim/
third_party/aloha_maniskill_sim/
models/
3D-Diffusion-Policy/models/
3D-Diffusion-Policy/Uni3D_tiny/model.pt
aloha_urdf.zip
main_models.zip
RoboTwin1.0_3d_policy/eval_video/

# 7.19 Update
.cache/

# 7.30 Update
assets/
debug_actions/
RoboTwin2.0_3D_policy/assets/*
RoboTwin2.0_3D_policy/eval_video/

# 8.1 Update
Dockerfile
dp3_training_environment.yml
!assets/_download.py
!assets/files/