models/
data/*
!data/process_stuck.py
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
weights/
eval_video/
**/.DS_Store

# eval result
eval_result/
data/
eval_video/
beat_block_hammer/
random_action_test/

# Code Generation
assets/
!/assets/files/
!/assets/_download.py

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt